* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    --step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
    --step-1: clamp(1.2rem, 1.0739rem + 0.6304vi, 1.5625rem);
    --step-2: clamp(1.44rem, 1.2615rem + 0.8924vi, 1.9531rem);
    --step-3: clamp(1.728rem, 1.4799rem + 1.2407vi, 2.4414rem);
}

h1{
    font-size: var(--step-3);
    font-size: var(--step-3);
    font-size: var(--step-3);
    gap: 1rem;
    
}

h2{
    font-size: var(--step-2);
}

h3{
    font-size: var(--step-1);
}

body {
    font-family: system-ui, sans-serif;
    font-size: var(--step-0);
    
}

.main-content {
    max-width: 1240px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: hidden;
    gap: 1rem;
    
}
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-width: 375px;
        align-items: flex-start;
        padding: 1rem;
        background-color: rgb(179, 206, 230);
        border-radius: .5rem;
    }
    form input {
        margin-bottom: 5px;
        
    }

li.field > label > input {
    display: block;
   
}    
.sexo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
    text-align: left;
    
}

.sex-fieldset {
    display:block;
    margin-bottom: 5px;
    
}

ul {
    list-style: none;
    padding-left: 0;
}
#alert {
    gap: 1.5rem;
    color: rgb(190, 56, 56);
}
fieldset {
    border-style: none; 
}

label {
    display:block;
    
}
legend {
    width: 100%;
    text-align: center;
    
}

input {
    border-style: none;
    /* border: 1px solid; */
    min-height: 1.5rem; 
    outline-style: none;
    max-height: fit-content;

    /* el em hereda del padre el rem no, mejor rem
    none para texto 0 para valores numéricos */
}

.btn-enviar {
    background-color: #151515;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
   
}
  
.btn-enviar:hover {
    opacity: 1;
    
}



